# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


ArduinoCore-API
CMakeCache.txt
test/CMakeFiles
test/bin
build
build/.cmake
test/DartConfiguration.tcl
test/*.cmake
test/*.tcl
test/Testing
test/Makefile

*.cmake

core/arduino/api/*.h
core/arduino/api/*.cpp
core/arduino/api/*/*